<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.musicdownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivityOld">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.PlaySongService"
            android:stopWithTask="false" />

        <receiver android:name=".services.PlaySongService$NextButtonListener" />
        <receiver android:name=".services.PlaySongService$PreviewsButtonListener" />
        <receiver android:name=".services.PlaySongService$PlayPauseButtonListener" />
        <receiver android:name=".services.PlaySongService$ExitButtonListener" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d5b726713bba81f15f5b663ce4a0b5a51c678b76" />

        <receiver android:name=".recievers.RemoteControlReceiver">
             <intent-filter>
             <action android:name="android.intent.action.MEDIA_BUTTON" />
             </intent-filter>
        </receiver>

        <activity android:name=".activities.PermissionsActivity"/>
    </application>

</manifest>